.button--large--cta {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0 1px none;
  vertical-align: middle;
  background-color: #ff4255;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear, opacity 0.2s linear;
  font-weight: 400;
  border: none;
  background-color: #ff4c5e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 36px;
  padding: 4px 12px;
  width: 100%;
  display: block;
}
.button--large--cta:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.button--large--cta:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.button--large--cta:active {
  color: #fff;
  background-color: #ff4c5e;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.2;
}
.button--large--cta:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
